.controls {
  display: flex;
  align-items: stretch;
}

.controls .meter {
  width: 100px;
  margin: 8px;
  margin-right: 0;
  border: 1px solid var(--border-color);
  --color: white;
  --value: 100%;
}

.controls .meter .bar {
  height: 100%;
  width: var(--value);
  background-color: var(--color);
}
